html {
    font-family: 'Lucida Grande',  Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: js-reg;
    src: url("Fonts/JUST\ Sans\ Regular.otf");
}

@font-face {
    font-family: js-bold;
    src: url("Fonts/JUST\ Sans\ ExBold.otf");
}

@font-face {
    font-family: cf;
    src: url("Fonts/CraftRounded-Regular.ttf");
}

@media only screen and (max-width:900px) {
    nav ul {
        display: none;
    }
    #login-btn {
        display: none;
    }
    #cards {
        grid-template-columns: auto;
        height: 1100px;
        
    }

    .card {
        padding: 30px;
        padding-bottom: 50px;
    }
    #menu {
        display: block;
    }
    #tmonies  {
        flex-direction: column;
    }

    #tmonies div {
        align-items: left;
        width: 90%;
        height: 300px;
        text-align: left;
    }

    #tmonies div i {
        font-size: 17px
    }

    section h1 {
        font-size: 35px;
    }
}

@media only screen and (min-width:900px) {
    nav ul {
        display: flex;
    }

    #login-btn {
        display: block;
    } 
    #cards {
        grid-template-columns: auto auto;
        height: 450px;
    }
    .card {
        padding: 30px;
        padding-bottom: 30px;
    }

    #menu {
        display: none;
    }

    #tmonies  {
        flex-direction: row;
    }

    #tmonies div {
        align-items: center;
        width: 300px;
        height: 400px;
        text-align: center;
    }

    #tmonies div i {
        font-size: 20px
    }

    section h1 {
        font-size: 50px;
    }
}


body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#menu {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
}

#menu:active{
    transition: 0.1s;
    transform: rotate(90deg);
    animation-fill-mode: forwards;
}

#logo {
    width: 220px;
    height: inherit;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

nav {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    padding: 15px 0 20px;
    user-select: none;
    align-items: center;
}

nav ul {
    position: relative;
    right: 40px;
    gap: 30px;
    list-style-type: none;
}

nav ul li a{
    cursor: pointer;
    text-decoration: none;
    color: black;

}

nav h1{
    position: absolute;
    left: 40px;
}

nav span {
    font-size: 100px;
}

.btn {
    position: relative;
    padding: 0 20px 0 20px;
    right: 20px;
    height: 50px;
    min-width: 100px;
    width: fit-content;
    border: solid 2px black;
    background: white;
    font-size: larger;
    border-radius: 12px;
    transition: 0.1s;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    color: white;
    background: black;
}

section {
    padding: 80px;
    text-align: center;
}

section h1 {
    font-family: js-reg;
}

section p {
    font-family: cf;
    font-size: 24px;
    color: grey;
    max-width: 650px;
    min-width: 0px;
    margin: auto;
}

#cards {
    width: fit-content;
    margin: 100px auto;
    display:grid;
    position: static;
}

.card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border-radius: 10px;
    max-width: 400px;
    min-width: 0;
    height: 230px;
}

.card h2 {
    font-size: 23px;
    font-family: js-reg;
    display: inline;
}

.card img{
    width: 50px;
    height: 50px;
    user-select: none;
}

.card p {
    font-family: js-reg;
    font-size: 18px;
    color: black;
    text-align: left;
}

#tmonies {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: auto;
}

#tmonies div {
    box-shadow: 0 0 10px  lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    min-width: 200px;
    padding: 40px;
}

#tmonies div img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

#tmonies div h2  {
    font-family: js-reg;
}

#tmonies div i {
    font-family: cf;
    color: grey;
    min-width: 250px;
}

#login-container {
    width: 600px;
    height: fit-content;
    text-align: center;
    padding: 50px;
    border: 1px solid black;
    border-radius: 12px;
}

#login-container img {
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
}

#login-container form {
    display: block;
    text-align: left;
    width: fit-content;
    margin: auto;
    margin-top: 70px;
}

#login-container h4 {
    display: inline;
    font-family: js-reg;
    text-align: left;
}

#login-container input {
    width: 500px;
    min-width: 0px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: js-reg;
    font-size: 20px;
}

#login-container input:focus {
    outline: none;
}

#login-container p{
    font-family: js-reg;
    color: gray;
}

#sign-up {
    cursor: pointer;
}
